<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.XMoneyExample">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.XMoneyExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".samples.PaymentSheetSampleActivity" />
        <activity android:name=".samples.EmbeddedPaymentSampleActivity" />
        <activity android:name=".samples.GooglePaySampleActivity" />
        <activity android:name=".samples.PaymentSheetActivitySample" />
        <activity android:name=".samples.GooglePayActivitySample" />
        <activity android:name=".samples.MerchantPayButtonSampleActivity" />
        <activity android:name=".samples.CardHolderVerificationSampleActivity" />
        <activity android:name=".samples.EmbeddedViewsSampleActivity" />
        <activity android:name=".samples.UpdateOrderSampleActivity" />
        <activity android:name=".scenarios.shop.ShopActivity" />
        <activity android:name=".scenarios.hearth.HearthActivity" />
        <activity android:name=".scenarios.pulse.PulseActivity" />
        <activity android:name=".playground.PlaygroundActivity" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>
</manifest>
