<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />

  <application>
    <activity
      android:name="com.xmoney.googlepay.internal.GooglePayHostActivity"
      android:exported="false"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <meta-data
      android:name="com.google.android.gms.wallet.api.enabled"
      android:value="true" />
  </application>
</manifest>
